<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog :: (Science a, Programming a) => a - $title$</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📓</text></svg>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
</head>

<body>
    <div class="hero is-fullheight">
        <div class="navbar has-background-grey-darker" id="header">
            <div class="navbar-start">
                <div class="navbar-brand" id="logo">
                    <a class="navbar-item is-family-code" href="/">blog :: (Science a, Programming a) => a </a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-menu" id="navigation">

                    <a class="navbar-item" href="/">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span>Home</span>
                        </span>
                    </a>

                    <a class="navbar-item" href="http://github.com/bsaintjo">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </span>
                    </a>

                    <a class="navbar-item" href="http://linkedin.com/in/saint-john">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa fa-linkedin"></i>
                            </span>
                            <span>LinkedIn</span>
                        </span>
                    </a>

                    <a class="navbar-item" href="/archive.html">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fa fa-folder"></i>
                            </span>
                            <span>Archive</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div id="content" class="container is-max-tablet mt-6 mb-6">
            <div class="title is-spaced" id="title">
                $title$
            </div>

            $body$
        </div>
        <div class="footer mt-auto has-text-centered">
            <footer>
                Site proudly generated by
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            </footer>
        </div>
    </div>
</body>

</html>